

/** button shape **/
.btn-container {
  display: flex;
  color: var(--clr-fonts-btn);
  background-color: var(--clr-fonts);
  border: .0625rem solid var(--clr-fonts);
  box-sizing: border-box;
  border-radius: 1.9375rem;
  width: fit-content;
  /*height: 3.75rem;*/
  justify-content: center;
  align-items: center;
  text-shadow: none;
  padding: 0.5em;
}

/** button text value **/
.btn-text {
  color: var(--clr-fonts-btn);
  font-family: Oswald;
  font-style:normal;
  font-size: 1rem;
  font-weight: 600;
  /*line-height: 1.5rem;*/
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.07em;
  margin-left: 1em;
  margin-right: 1em;
}

/** right arrow **/
.right-arrow {
  background-image: url(../../../../assets/images/icons/right-arrow.svg);
  background-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
}
