/*** main container of the hole section ****/
.news-section-container {
  border: solid white 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-image: url(../../../../assets/images/backgrounds/BGEffectselement.png);
  margin-left: 4%;
}

/*** left side layer with the image ****/
.left-side-column {
  border: solid gold 0px;
 /* margin-left: 8em;*/
}

.left-side-column img {
  max-width: 100%;
}


/*** right side layer with all content ****/
.right-side-column {
  border: solid turquoise 0px;
}

/**** overriding global h1 preperties ****/
.right-side-column > h1 {
  inline-size: auto;
}

/**** layer with table display for informations *****/
.news-content-table {
  border: solid white 0px;
  display: table;
  /*margin-left: 3em;*/
}
/***** table row ******/
.news-content-row {
  border: solid red 0px;
  display: table-row;
}

/***** table cell with event poster and title*******/
.news-content-column {
  border: solid turquoise 0px;
  display: table-row;
}

/****** news picture ********/
.news-picture {
  border: solid yellow 0px;
}

/**** overriding image size ******/
.news-picture > img {
  max-height: 100%; 
  max-width: 100%;
}

.news-title {
  border: solid indianred 0px;
  font-size: 1.5rem;
}
/***** news details text *******/
.news-details {
  border: solid indianred 0px;
  font-size: 1rem;
  margin-bottom: 0.5em;
}
/***** text span perperties *******/
.news-details > span {
  color: gray;
}

/*--------- button container -----------*/
.btn-container {
  border: solid blue 0px;
  padding: 1em;
  width: fit-content;
  float: right;
  margin-right: 5em;
}

/**** fit and adapt content to wide screens change display from row to column ******/
@media (min-width: 750px) {
  .left-side-column {
    margin-left: 8em;
  }
  .news-section-container {
    flex-direction: row;
  }
  .right-side-column > h1 {
    white-space: nowrap;
    width: max-content;
    /*padding: 3em;*/
  }
  .news-content-column {
    display: table-cell;
  }
}
