<div class="section">
  <div class="news-section-container">
    <div class="left-side-column">
      <img src="{{'backgrounds/Luke-bg.png' | img}}" alt="Luke" />
    </div>
    <div class="right-side-column">
      <h1>Dernières Actualités</h1>
      <div class="news-content-table">
        <div class="news-content-row">
          <div class="news-content-column">
            <div class="news-picture">
              <img
                src="{{'news/tekken_poster.jpg' | img}}"
                alt="News Poster"
              />
            </div>
            <div class="news-title fonts">News title</div>
            <div class="news-details fonts">
              Emplacement: <span> Emplacement événement</span>
            </div>
          </div>
          <div class="news-content-column">
            <div class="news-picture">
              <img
                src="{{'news/tekken_poster.jpg' | img}}"
                alt="News Poster"
              />
            </div>
            <div class="news-title fonts">News title</div>
            <div class="news-details fonts">
              Emplacement: <span> Emplacement événement</span>
            </div>
          </div>
        </div>
        <div class="news-content-row">
          <div class="news-content-column">
            <div class="news-picture">
              <img
                src="{{'news/tekken_poster.jpg' | img}}"
                alt="News Poster"
              />
            </div>
            <div class="news-title fonts">News title</div>
            <div class="news-details fonts">
              Emplacement: <span> Emplacement événement</span>
            </div>
          </div>
          <div class="news-content-column">
            <div class="news-picture">
              <img
                src="{{'news/tekken_poster.jpg' | img}}"
                alt="News Poster"
              />
            </div>
            <div class="news-title fonts">News title</div>
            <div class="news-details fonts">
              Emplacement: <span> Emplacement événement</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-container">
        <a href="/news">
          <div class="btn-container">
            <div class="btn-text">
              <p>Voir&nbsp;toutes&nbsp;les&nbsp;news</p>
            </div>
            <div class="next"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
