

.page-content {
  background-image: url(./../../../../assets/images/backgrounds/BGEffectselement.png);

}

select, input {
  border: 1px solid #FFFFFF;
  color: white;
  background: rgba(27, 16, 19, 0.75);
  box-sizing: border-box;
  border-radius: 3.45rem;
  width: 15.6rem;
  height: 2.625rem;
  font-size: 1.25rem;
  text-align: center;
}

.agendaDates-container {
  border: solid white 0px;
  margin-inline: 1em;
}

.header-row {
  border: solid red 0px;
  display: flex;
  padding: 0.5em 0, 0.5em;
  align-items: center;
}

.header-column {
  border: solid white 0px;
  font-weight: 500;
  font-size: 2.375rem;
  line-height: 3.5rem;
}
.header-line {
  width: 100%;
  margin-inline: 1em;
}

hr {
  border: solid .125rem;
}

.agenda-row {
  border: solid white 0px;
  display: flex;
  align-items: center;
  padding: 1em, 0, 0, 0;
}
.calendar-column{
  border: solid white 0px;
  padding: 0.3em;

}
.calendar-image {
  background-image: url(./../../../../assets/images/icons/icon-calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 8.125rem;
  min-width: 6.25rem;
}
.calendar-mounth {
  color: red;
  font-weight: 500;
  font-size: 2.375rem;
  line-height: 3.5rem;
  text-align: center;
;
}
.calendar-day{
  color: white;
}
