<!-- div principal contenant toute la page-->
<div class="page-background">
  <div class="page-container">
    <div class="page-title">
      <h1>Prochains événements</h1>
    </div>
    <div class="page-content">
      <div class="content-header">
        <div class="season">
          <select name="season">
            <option>Season 01</option>
          </select>
        </div>
        <div class="searchBox">
          <input
            type="search"
            class="search"
            placeholder="recherche"

          />
        </div>
      </div>
      <div class="fonts agendaDates-container">
        <div class="header-row">
          <div class="header-column">MAY&nbsp;2021</div>
          <div class="header-line">
            <hr />
          </div>
        </div>
        <div class="agenda-row">
          <div class="calendar-column">
            <div class="calendar-image">
              <div class="calendar-mounth">MAY</div>
              <div class="calendar-mounth calendar-day">21</div>
            </div>
          </div>
          <div class="text-column">
            Text à afficher contenant le détail d'un événement
          </div>
        </div>
        <div class="agenda-row">
          <div class="calendar-column">
            <div class="calendar-image">
              <div class="calendar-mounth">MAY</div>
              <div class="calendar-mounth calendar-day">09</div>
            </div>
          </div>
          <div class="text-column">
            Text à afficher contenant le détail d'un événement
          </div>
        </div>
        <div class="agenda-row">
          <div class="calendar-column">
            <div class="calendar-image">
              <div class="calendar-mounth">May</div>
              <div class="calendar-mounth calendar-day">01</div>
            </div>
          </div>
          <div class="text-column">
            Text à afficher contenant le détail d'un événement
          </div>
        </div>
        <div class="header-row">
          <div class="header-column">Februay&nbsp;2021</div>
          <div class="header-line">
            <hr />
          </div>
        </div>
        <div class="agenda-row">
          <div class="calendar-column">
            <div class="calendar-image">
              <div class="calendar-mounth">Feb</div>
              <div class="calendar-mounth calendar-day">29</div>
            </div>
          </div>
          <div class="text-column">
            Text à afficher contenant le détail d'un événement
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
