
/* ranking table main layer */
.ranking-table {
  display: table;
  border: solid #9de5f7 0px; /* for debug*/
  border-spacing: 0 0.5em;
  width: 100%;
  align-self: center;
}

/***** first row is different from the rest ********/

/* first row background */
.ranking-row:first-child /*.column-group*/ {
  background-color:#d61518;
}
/* 2nd and 3rd row background */
.ranking-row:nth-child(n+2):nth-child(-n+3) /*.column-group*/ {
  background-color:#ff9c19;
}

/*************************************/
/* test color : gold, silver, bronze */
/*.ranking-row:first-child .column-group2 {
  background-color:#ffe600;
}

/* 2nd row background
.ranking-row:nth-child(2) .column-group2 {
  background-color:#b8b8b8;
}

/* 3rd row background
.ranking-row:nth-child(3) .column-group2 {
  background-color:#963700;
}*/
/*************************************/

/* number one nickname*/
.ranking-row:first-child .player-info-nickname {
  border: solid blue 0px; /* for debug*/
  color: rgba(255, 255, 255, 1);
}
/* number one name */
.ranking-row:first-child .player-info-name {
  border: solid blue 0px; /* for debug*/
  color: rgba(255, 255, 255, 0.5);
}
/* number one points */
.ranking-row:first-child .column-points {
  border: solid indigo 0px; /* for debug*/
  color: #f2c94c;
}

/* row style starting form 4th place */
/* row layer containg 5 other layers as columns*/
.ranking-row {
  border: solid blue 0px; /* for debug*/
  display: table-row;
  background-color: white;
  text-shadow: none;
}

/* responsiveness to large screens*/
/*@media (min-width: 70em) {
  .column-group {
    display: grid;
    grid-template-columns: 14rem auto 8rem 25.0rem;
    width:97%;
  }
}*/


/* responsiveness to large screens*/
/*@media (min-width: 70em) {
  .ranking-row {
    display: grid;
    grid-template-columns: 7rem auto;
  }
}*/
/* player rank*/
.column-rank {
  display: table-cell;
  border: solid violet 0px; /* for debug*/
  width: 5rem;
  font-weight: bold;
  font-size: 3rem;
  color: #f18c2f;
  text-align: center;
  vertical-align: middle;
  /*height: 7.5rem;*/
  background-color: var(--clr-background);
}

/* cell containing all player infos */
/*.column-group {
  border: solid tomato 0px;
  background-color:white;
  display: table-cell;
  align-items: center;
  width: max-content;
}*/
/* player picture*/
.column-player-picture {
  display: table-cell;
  border: solid yellow 0px; /* for debug*/
  /*background-image: url(./../../../../assets/images/Ranks/players/player-image.png);
  background-repeat: no-repeat;
  height: 7.5rem;
  width: 15rem;*/
  vertical-align: middle;
  text-align: center;
  width: 127px;
  /*corner : top left, bottom left, bottom right, top right*/
  clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 0%);

}

.column-player-picture > img {
  width: 100%;
  display: block;
}
/* layer containing nickname and player's name*/
.column-player-infos {
  display: table-cell;
  border: solid green 0px; /* for debug*/
  vertical-align: middle;
  white-space: nowrap;
  /*height: 7.5rem;*/
}
/* player nickname*/
.player-info-nickname {
  border: solid blue 0px; /* for debug*/
  font-weight: bold;
  font-size: 2.2rem;
  /*line-height: 4.6rem;*/
  color: rgb(27, 16, 19);
  text-align: center;
  margin-bottom: 0.2em;

}
/* player name */
.player-info-name {
  border: solid blue 0px; /* for debug*/
  /*line-height: 2.25rem;*/
  color: rgb(27, 16, 19);
  text-align: center;
}
/* player points*/
.column-points {
  display: table-cell;
  border: solid indigo 0px; /* for debug*/
  font-weight: bold;
  font-size: 3rem;
 /* line-height: 5.4rem;*/
  text-align: center;
  vertical-align: middle;
  /*height: 7.5rem;*/
  color: rgb(27, 16, 19);
  background-color: rgba(95, 31, 31, 0.3);
  /*corner : top left, bottom left, bottom right, top right*/
  clip-path: polygon(15% 0%, 0% 100%, 85% 100%, 100% 0%);
  width:9rem;
}
/* player main character*/
.column-character {
  display: table-cell;
  border: solid violet 0px; /* for debug*/
  vertical-align: middle;
  text-align: right;
  width: 284px;
  /*height: 7.5rem;*/
  /*width: 25rem;*/
}

.column-character > img {
  width: 100%;
  display: block;
}
