<div class="ranking-table fonts">
  <div class="" *ngIf="selectedGame == null && selectedTournament == null">
    Veuillez sélectionner un jeu.
  </div>
  <div class="" *ngIf="classementList == null || classementList.length == 0">
    Aucun classement pour ces critères.
  </div>
  <div class="ranking-row" *ngFor="let player of classementList">
    <div class="column-rank">
      <span>{{ player.rank_display }}</span>
    </div>
    <!--<div class="column-group">-->
      <div class="column-player-picture">
        <img
          src="{{'players/icons/player-image.png' |img}}"
          alt="Player Picture"
        />
      </div>
      <div class="column-player-infos">
        <div class="player-info-nickname">
          <span class="clickable"  (click)="onClickJoueur(player)">{{ player.pseudo }}</span>
        </div>
        <div class="player-info-name">
          <span>{{ player.firstname }} {{ player.name }}</span>
        </div>
      </div>
      <div class="column-points">
        <span>{{ player.points }}</span>
      </div>
      <div class="column-character" title="{{ player.character == null?charUnknown:player.character }}">
        <img
          src="{{ player | imgChar }}"
          alt="{{ player.character == null?charUnknown:player.character}}"
        />
      </div>
    <!--</div>-->
  </div>
</div>
