
/* override the default background image  */
.page-background {
  background-image: url(./../../../../assets/images/backgrounds/classementbg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
}

.ranking {
  border: solid green 0px; /* for debug*/
}
