<!-- div principal contenant toute la page-->
<div class="page-background">
  <div class="page-container">
    <div class="page-title">
      <h1>Classement</h1>
    </div>
    <div class="page-content">
      <div class="content-header">
        <app-game-selector (selectedGame)="(selectedGame)" (onChangeEvent)="onChangeGame($event)"></app-game-selector>
        <app-season-selector (selectedSeason)="(selectedSeason)" (onChangeEvent)="onChangeSeason($event)"></app-season-selector>
      </div>

      <div class="ranking">
        <app-classement [selectedGame]="selectedGame" [selectedSeason]="selectedSeason"></app-classement>
      </div>
    </div>
  </div>
</div>
