<!-- higlights on top page -->
<aside>
  <div class="container">
    <div class="highlights">
      <div class="panel">
        <div class="tesa-btn">
          <div class="tesa-btn tesa-btn--shadow">
            <span>Tunisian E-Sports Association</span>
          </div>
        </div>
      </div>
      <div class="panel">
        <h1>Entrez dans la légende</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero tempore
          culpa sequi impedit ab recusandae earum neque numquam voluptate quasi
          dolorum ea nobis quod beatae nesciunt ducimus quia, repudiandae quos.
        </p>
      </div>
      <div class="panel panel-btn">
        <app-button-tesa label="Informations sur l'évènement" url="news"></app-button-tesa>
      </div>
    </div>
  </div>
</aside>
