/*******                                 *******/
/*******   Index top page with higlight  *******/
/*******                                 ******/

/***** container principal qui englobletoute ****/
/****       la partie superieure              ***/
.container {
  display: flex;
  /*max-width: max-content;
  min-width: min-content;*/
  /*padding: 5.5em;*/
  inline-size: auto;
}

/**** page highlight **********/
.highlights {
  background-color: var(--clr-background);
  /* rgba(27, 16, 19, 0.77); */
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 1em;
  /*max-width: 30%;*/
  /*min-width:min-content;*/
  /*min-height: 70%;*/
}

/*====== logo + text sur fond noir sous forme de bouton ======*/
.tesa-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(1, 0, 1);
  max-width: 18rem;
  padding: 0.4em;
  border-radius: 1.25rem;
}

.tesa-btn--shadow {
  background-image: url(./../../../../assets/images/icons/LOGO.svg);
  background-position-x: 1em;
  background-size: contain;
  background-repeat: no-repeat;

}

/* texte Tunisian E-Sports Association à coté du logo */
.tesa-btn span {
  color: var(--clr-fonts);
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  margin-left: 3em;
}

/*== fin logo + text sur fond noir sous forme de bouton ==*/

.highlights h1 {
  margin: 0;
  color: var(--clr-fonts);
  text-transform: uppercase;
  /*font-size: 92px;
  font-weight:500;*/
  font-style: normal;
  font-family: oswald;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.highlights p {
  font-family: roboto;
  color:  var(--clr-fonts);
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  margin-inline: 0.5em;
}

.panel {
  width:100%;
}



/*******                                  *******/
/******* End Index top page with higlight *******/
/*******                                  ******/

/***********************************************/
/*****   For Large Screen                  *****/
/***********************************************/

@media (min-width: 750px) {

  /**** page highlight **********/
  .highlights {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    padding: 1em;
    /*max-width: 30%;*/
    /*min-width:min-content;*/
    /*min-height: 70%;*/

    /* card block */
    border-radius: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
    width: 30em;

  }
}
