/*******                        *******/
/******* Index schedule preview *******/
/*******                        ******/
/* flex container for calendar items*/

.container--agenda {
  background: url(./../../../../assets/images/backgrounds/BGEffectselement.png) repeat;
  width: 100%;
  margin-left: 4%;
  inline-size: auto;
}

/*.container--agenda > h1 {
  margin-left: 4rem;
}*/

.wrapper {
  border: var(--clr-debug-border3);
  color: var(--clr-fonts);
  display: flex;
  /*flex-wrap: nowrap;*/
  flex-direction: column;
  /*max-width: 70%;*/
  /*margin-left: 5em;*/
  /*margin-left: 4%;*/
}
/***** for screens larger than 55em display on 2 columns *****/

.panel {
  width: 100%;
}

/* one calendar entry */
.item {
  border: var(--clr-debug-border);
  display: flex;
}

/* red calendar symbol*/
.itemDate {
  border: var(--clr-debug-border);
  background: url(./../../../../assets/images/icons/icon-calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 130px;
  width: 100px;
  min-width: 100px;
}

/* Div pour placer le mois à l'intérieur du calndrier */
.month {
  border: var(--clr-debug-border);
  color: var(--clr-events);
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  padding: .25em;
}

.day {
  border: var(--clr-debug-border);
  color: var(--clr-fonts);
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
}

/* text for the calendar entry */
.caltext {
  border: var(--clr-debug-border);
  max-width: 30em;
  font-family: Roboto;
  font-style: normal;
  padding: 1em;
  font-size: 1rem;
  /*text-align: justify;*/
}

.btn-container{
  align-items: center;
 /* width:fit-content;
  margin-left:10em;*/
}

@media(min-width: 750px) {
  .container--agenda{
    background: url(./../../../../assets/images/backgrounds/BGEffectselement.png) repeat, url(./../../../../assets/images/backgrounds/geese-bg.png) right top no-repeat;
    background-size: contain;
    width: 100%;
  }
  .wrapper {
    border: var(--clr-debug-border3);
    color: var(--clr-fonts);
    display: flex;
    /*flex-wrap: nowrap;*/
    flex-direction: column;
    /*max-width: 70%;*/
    margin-left: 5em;
  }
  .btn-container{
    margin-left: 5em;
  }
}
