<!-- schedule display -->
<div class="section">
  <div class="container--agenda">
    <h1>Prochains Evènements</h1>

    <div class="wrapper">
      <div class="item">
        <div class="itemDate">
          <div class="month">Jan</div>
          <div class="day">01</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo odit quas aliquam esse quis aliquid cum, aut sint voluptas deserunt maiores laborum soluta quidem necessitatibus distinctio beatae, adipisci cupiditate repellendus.
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">Fev</div>
          <div class="day">02</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut temporibus, incidunt cum voluptas excepturi quaerat perspiciatis quasi, quibusdam neque unde sit quia ratione facere, ut iure voluptatibus totam alias! Tempora?
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">Mar</div>
          <div class="day">03</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui aliquid molestiae architecto rerum dolorum eum animi, delectus dicta numquam ducimus accusantium consequatur repudiandae vero vel facilis incidunt consectetur itaque accusamus!
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">Apr</div>
          <div class="day">04</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus ipsam saepe. Dolor pariatur corrupti, consectetur ducimus quia atque nam? Magni dolor quos officiis vitae error sapiente, doloremque at aspernatur?
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">May</div>
          <div class="day">05</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus similique aliquam dolorem commodi, debitis unde. Nihil, doloribus harum impedit quos qui, repudiandae labore earum natus, incidunt cum eaque tempora!
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">Jun</div>
          <div class="day">06</div>
        </div>
        <div class="caltext">
          <span>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, dicta! Corporis eius non odit consequuntur commodi sint tempora itaque, sit, quos iste voluptatem consectetur quaerat. Recusandae deserunt itaque officia perferendis.
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">Jul</div>
          <div class="day">07</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam suscipit voluptatibus omnis blanditiis eaque harum dolores dolor cumque eveniet delectus. Vel impedit dolor rem laboriosam, rerum animi dolores sequi autem.
          </span>
        </div>
      </div>
      <div class="item">
        <div class="itemDate">
          <div class="month">Aug</div>
          <div class="day">08</div>
        </div>
        <div class="caltext">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam voluptatibus praesentium dicta rem natus iure expedita possimus laudantium! Cum corrupti quasi nisi iusto tempora dignissimos doloribus non quisquam ipsam quo?
          </span>
        </div>
      </div>
    </div>
    <div class="btn-container">
      <div class="panel panel-btn">
        <app-button-tesa label="Voir l'agenda complet" url="agenda"></app-button-tesa>
      </div>
    </div>
  </div>
</div>
