<div class="page-background">
  <div class="page-container">
    <div class="page-title">
      <h1>Dernières actualités</h1>
    </div>
    <div class="page-content">
      <div class="table-container">
        <div class="table-recent-news fonts">
          <div class="recent-news-row">
            <div class="recent-news-title font-sizing">TITRE RECENT NEWS</div>
            <div class="recent-news-category">RECENT NEW CATEGORY</div>
            <div class="recent-news-date btn-container btn-size">Dec 31, 2021</div>
          </div>
          <div class="recent-news-row">
            <div class="recent-news-title font-sizing">TITRE RECENT NEWS</div>
            <div class="recent-news-category">RECENT NEW CATEGORY</div>
            <div class="recent-news-date btn-container btn-size">sept 10, 2021</div>
          </div>
          <div class="recent-news-row">
            <div class="recent-news-title font-sizing">TITRE RECENT NEWS</div>
            <div class="recent-news-category">RECENT NEW CATEGORY</div>
            <div class="recent-news-date btn-container btn-size">Jun 06, 2021</div>
          </div>
        </div>
        <div class="table-big-news fonts">
          <div class="big-news-row">
            <div class="big-news-picture">
              <img
                src="{{ 'news/tekken_poster.jpg' | img }}"
                alt="BIG NEWS PICTURE"
              />
            </div>
            <div class="big-news-title font-sizing">BIG NEWS TITLE</div>
            <div class="big-news-cat-date">
              <div class="big-news-category">Big news category</div>
              <div class="big-news-date">
                <div class="btn-container btn-size">sept 16, 2021</div>
              </div>
            </div>
            <div class="big-news-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate porro quidem cum suscipit libero quas voluptas,
              ducimus, culpa maxime consequuntur deleniti nostrum vitae
              accusantium eius voluptatibus tempora veniam iste quibusdam.
            </div>
          </div>
          <div class="big-news-row">
            <div class="big-news-picture">
              <img
                src="{{ 'news/tekken_poster.jpg' | img }}"
                alt="BIG NEWS PICTURE"
              />
            </div>
            <div class="big-news-title font-sizing">BIG NEWS TITLE</div>
            <div class="big-news-cat-date">
              <div class="big-news-category">Big news category</div>
              <div class="big-news-date">
                <div class="btn-container btn-size">sept 16,2021</div>
              </div>
            </div>
            <div class="big-news-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
              neque illum voluptatum nisi, maiores similique enim voluptate
              fugit hic laboriosam ratione aspernatur corrupti. Quae delectus
              voluptates porro culpa, laborum laudantium!
            </div>
          </div>
          <div class="big-news-row">
            <div class="big-news-picture">
              <img
                src="{{ 'news/tekken_poster.jpg' | img }}"
                alt="BIG NEWS PICTURE"
              />
            </div>
            <div class="big-news-title font-sizing">BIG NEWS TITLE</div>
            <div class="big-news-cat-date">
              <div class="big-news-category">Big news category</div>
              <div class="big-news-date">
                <div class="btn-container btn-size">
                  september 16,2021
                </div>
              </div>
            </div>
            <div class="big-news-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
              earum aut ab? Rem qui, perspiciatis eius culpa alias, voluptatibus
              dolor enim quisquam dolorem libero distinctio sequi voluptate
              laboriosam deserunt temporibus?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
