.page-container {
  inline-size: auto;
}

.title {
  border: solid red 1px;
  display: flex;
}

.table-container {
  border: solid white 0px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.table-recent-news {
  border: solid yellow 0px;
  margin-bottom: 0.5em;
  /*width: 50%;*/
}
.recent-news-row {
  border: solid blue 0px;
  padding: 0.5em;
  border-bottom: solid 0.0625rem;
}

.recent-news-title {
  border: solid red 0px;
}
.recent-news-category {
  padding: 0.5em;
  color: gray;
}
.recent-news-date {
  padding: 0.5em;
}

.btn-size {
  min-width:fit-content;
  height: 1.75rem;
  font-size: 1rem;
  background: var(--clr-background);
  color: var(--clr-fonts);
}
.btn-container {
  width: 10rem;
}

.font-sizing {
  font-size: auto;
  line-height: auto;
}

.table-big-news {
  border: solid white 0px;
  display: table;
  /*width: 50%;*/
  /*margin-left: 2em;*/
}

.big-news-row {
  border: solid red 0px;
}

.big-news-picture {
  border: solid red 0px;
  width: auto;
  height: auto;
}
.big-news-picture > img {
  width: 100%;
  height: 100%;
}

.big-news-cat-date {
  display: flex;
  align-items: center;
  margin: 0.5em 0 0.5em 0;
  justify-content: center;
}
.big-news-category {
  border: solid white 0px;
  color: gray;
  width: 100%;
}

.big-news-date {
  border: solid red 0px;
  /*width: 100%;*/
}
.big-news-description {
  margin-bottom: 2em;
  text-align: justify;
}

@media (min-width: 750px) {
  .table-container {
    flex-direction: row;
  }
  .table-recent-news {
    border: solid yellow 0px;
    width: 50%;

  }
  .table-big-news {
    width: 50%;
    margin-left: 2em;
  }
}
