/**** layer to avoid flex display having title and content on the same line *****/
.main-container {
  border: solid red 0px;
  width: 100%;
  margin-left: 8%;
}

.panel {
  width: 100%;
}
/****** main layer for video content *****/
.video-layer {
  border: solid yellow 0px;
  display: grid;
  grid-template-columns: auto;
  margin-left: auto;
  background-image: url(../../../../assets/images/backgrounds/BGEffectselement.png);
}


/****** embeded video code container *****/
.video-container {
  border: solid white 0px;
  width: 100%;
}

/***** Video title *****/
.video-title {
  font-size: 2rem;
}

/***** Video preview from youtube ******/
.video-preview > iframe {
  /*width: 100%;*/
}
/***** video details location, or tournament or match etc... *****/
.video-details {
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}
.video-details > span {
  color: gray;
}

/***** button view all inherit form main style.css ******/
.btn-container {
  width: fit-content;
}

/**** fit and adapt content to wide screens change display from row to column ******/
@media (min-width: 750px) {
  .video-layer {
    grid-template-columns: auto auto;
    margin-left: 8em;
  }
  .btn-container {
    width: fit-content;
    float: right;
    margin-right: 5em;
  }
  .video-preview > iframe {
    width: 35rem;
    height:19.6875rem;
  }
}
