<div class="section">
  <div class="main-container">
    <h1>Vidéos</h1>
    <div class="video-layer">
      <div class="video-container">
        <div class="video-previw">
          <iframe
            src="https://www.youtube.com/embed/Sss47yjgsi4"
            title="TESA"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="video-title fonts">The Last Fighter</div>
        <div class="video-details fonts">Loser Finals</div>
      </div>
      <div class="video-container">
        <div class="video-previw">
          <iframe
            src="https://www.youtube.com/embed/Sss47yjgsi4"
            title="TESA"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="video-title fonts">The Last Fighter</div>
        <div class="video-details fonts">Loser Finals</div>
      </div>
      <div class="video-container">
        <div class="video-previw">
          <iframe
            src="https://www.youtube.com/embed/Sss47yjgsi4"
            title="TESA"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="video-title fonts">The Last Fighter</div>
        <div class="video-details fonts">Loser Finals</div>
      </div>
      <div class="video-container">
        <div class="video-previw">
          <iframe
            src="https://www.youtube.com/embed/Sss47yjgsi4"
            title="TESA"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div class="video-title fonts">The Last Fighter</div>
        <div class="video-details fonts">Loser Finals</div>
      </div>
    </div>
    <div class="btn-container">
      <div class="panel panel-btn">
        <app-button-tesa label="Voir toutes les vidéos" url="videos"></app-button-tesa>
      </div>
    </div>
  </div>
</div>
