/******* page container because section is in flex display ***********/
.container--seed {
  background: url(./../../../../assets/images/backgrounds/BGEffectselement.png) repeat;
  width: 100%;
  color: white;
  inline-size: auto;

}

.container--seed > h1 {
  margin-left: 4%;
}
/****** tournament type+region container *****/

.type-region {
  margin-left: 4%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
/****** tournament type *******/
.type {
  margin-inline-end: 1em;
}
/*===== selector for tournament type ======*/
.type select {
  background: rgba(27, 16, 19, 0.75);
  border: .0625rem solid var(--clr-fonts);
  border-radius: 3.4375rem;
  box-sizing: border-box;
  color: var(--clr-events);
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
}

/*======== Region display =======*/
.region {
  color: var(--clr-fonts);
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

/********* game selector container *********/
.game-selector {
  width: fit-content;
  margin: 1em 4%;
}
/*======= input select type ========*/
.game-selector--select {
  color: var(--clr-fonts);
  width: 15.5625rem;
  height: 2.625rem;
  background: rgba(27, 16, 19, 0.75);
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
  border: 1px solid var(--clr-fonts);
  box-sizing: border-box;
  border-radius: 3.4375rem;
  text-align: center;
  text-transform: uppercase;
}

/******** all seed informations container **********/
.seed-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.seedItem {
  margin-left: 4%;

}

/*====== player picture and ranking ======*/
.seed-picture-ranking {

  width: fit-content;

}
/*+++++++ playuer picture and ranking on top left corner +++++++*/
.seed-picture {
  color: #F18C2F;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 5.5rem;
  line-height: 8.125rem;
  letter-spacing: 0.06em;
  position: relative;
}

.seed-picture > img {
  width: 100%;
  height: 100%;
}

.seed-rank {
  /*margin-left: 1.875rem;*/
  position: absolute;
  top: 0px;
  left: 10px;
  text-decoration: solid;
  text-shadow: .125rem .125rem black;
  /*z-index: 50;*/
}
/*+++++++ Ranking text +++++*/

/*++++++ player points and informations +++++++*/
.seed-infos{
  display: flex;
  width: 22.5rem;
  align-items: center;
  justify-content:space-evenly;
  color: var(--clr-fonts);
}
/*aaaaaaaa player points aaaaaaaa*/
.seed-points {
  color: var(--clr-events);
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 4.1875rem;
  line-height: 6.1875rem;
}
/*aaaaaaaa nickname, first name and player's last name aaaaaaaa*/
.seed-player {
  border : solid green 0px;
}

/*---------- player nickname -------*/
.seed-player-id {
  color: var(--clr-fonts);
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 3.125rem;
  line-height: 4.625rem;
  letter-spacing: 0.06em;
}
/*---------player name ---------*/
.seed-player-name {
  color: rgba(255, 255, 255, 0.5);
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.06em;
}
/*---------- 1st place trophy symbol -------*/
.seed-trophy {
  background: url(./../../../../assets/images/icons/trophy.svg) no-repeat;
  width: 3.8125rem;
  height: 3.8125rem;
}
/*--------- button container -----------*/
.btn-container {
  padding: 1em;
  width: 100%;
  display:flex;
  justify-content: center;
}

@media (min-width: 750px) {
  .seed-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .btn-container {
    width: fit-content;
    display:block;
    float: right;
    margin-right: 5em;
  }
}
