<!-- podium display-->
<div class="section">
  <div class="container--seed">
    <h1>Classement</h1>
    <div class="type-region">
      <div class="type">
        <select name="type">
          <option [selected]>All</option>
          <option>Saison 2019</option>
          <option>Saison 2018</option>
        </select>
      </div>
      <div class="region">Afrique</div>
    </div>
    <div class="game-selector">
      <div class="game-selector--select">
        <select name="game" class="game-selector--select">
          <option selected>Street Fighter V</option>
          <option>Tekken7</option>
          <option>Super Smash Bros</option>
        </select>
      </div>
    </div>
    <div class="seed-table">
      <div class="seed-row">
        <div class="seed-picture">
          <img
            src="{{ 'players/avatars/red-bull-luffy.png' | img }}"
            alt="Luffy"
          />
          <div class="seed-rank">
            <span>1</span>
          </div>
        </div>
      </div>
      <div class="seed-row">
        <div class="seed-picture">
          <img
            src="{{ 'players/avatars/red-bull-luffy.png' | img }}"
            alt="Luffy"
          />
          <div class="seed-rank">
            <span>2</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
