<app-highlight></app-highlight>

<app-section-agenda></app-section-agenda>

<app-section-classement></app-section-classement>

<app-section-news></app-section-news>

<app-section-videos></app-section-videos>

<div class="section">
  <h1>A propos de TESA</h1>
</div>

<div class="section">
  <h1>Contact</h1>
</div>
