header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top:0;
  left:0;
  height: var(--clr-menu-height);
  background: var(--clr-background);
  display: flex;
}

/***************** Menu top left corner logo ******************/
.logo {
  /* background: green;*/
  width: 4.75rem;
  margin-left: 1em;
  margin-right: 1em;
  margin-top:0.25rem;
  margin-bottom: 0.25rem;
}

/*#################### Navigation Menu #######################*/
.navbar {
  display: flex;
  /*  background: gray;*/
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.navbar ul {
  /*background: tomato;*/
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

.navbar li {
  margin-left: .75rem;
  margin-right: .75rem;
  color: var(--clr-menu);
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
  font-size: 1.125rem;
  line-height: 1.6875rem
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

/*************************** social media menu ****************/
.social-media-icons {
  display: flex;
  margin: 0 1rem 0 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  width:1.5rem;
  height:1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.social-media-icons img {
  width: 100%;
  height:100%
}

.twitter {
  fill: currentcolor;
  color: rgba(29,161,242,1.00);
}

/*###################### end navigation Menu #################*/
