<!-- entête englobant le menu logo et la bande du menu avec social-media-->
<header>
  <!-- Logo TESA top left corner -->
  <img src="{{'icons/LOGO.svg' | img}}" alt="" class="logo" />
  <!-- Menu de navigation -->
  <nav class="navbar">
    <ul>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/accueil">Accueil</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/news">News</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/agenda">Agenda</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/classement">Classement</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/tournois">Tournois</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/videos">Vidéos</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/joueurs">Joueurs</a>
      </li>
      <li class="menu-item" *ngIf="env.pageJeux">
        <a href="" class="menu-link clickable" routerLink="/jeux">Jeux</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/contact">Contact</a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-link clickable" routerLink="/apropos">A propos</a>
      </li>
    </ul>
    <!-- Social Media access dans le menu avec leur îcones respectives-->
    <div class="social-media-icons">
      <a href="https://twitch.tv/tesatn"><img src="{{'icons/twitch-logo.svg' | img}}" class="twitch-icon" alt="twitch" /></a>
      <a href="https://www.youtube.com/channel/UCxRFnJY5JvIUKT-CCvtr5VQ"><img src="{{'icons/youtube-logo.svg' | img}}" class="youtube-icon" alt="youtube" /></a>
      <a href="https://www.facebook.com/TESA.Tunisie"><img src="{{'icons/fb-logo.svg' | img}}" class="facebook-icon" alt="facebook" /></a>
      <a href="https://twitter.com/tesatn_"><img src="{{'icons/twitter.svg' | img}}" alt="twitter" ></a>
    </div>
  </nav>
</header>
