.content-header {
  justify-content: flex-start;
}

.nb-perso {
  width: 100%;
  text-align: center;
  font-size: 200%;
}

.character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.div-character {
  display:flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: rgba(50, 50, 50, 0.5);
}

.div-character > #name {
  position: absolute;
  width: 284px;
  height:64px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  font-size: 120%;
  text-shadow:4px 4px 3px black;
  padding-left: 0.5rem;
  background-image: linear-gradient(to right ,rgba(80,20,20,0.75) ,rgba(80,20,20,0.0) 40% , rgba(80,20,20,0.0)  );

}


.div-character > img {
  width: 284px;
  height:64px;
}
