<!-- div principal contenant toute la page-->
<div class="page-background">
  <div class="page-container">
    <div class="page-title">
      <h1>Jeux - Liste des personnages</h1>
    </div>
    <div class="page-content">
      <div class="content-header">
        <app-game-selector (selectedGame)="(selectedGame)" (onChangeEvent)="onChangeGame($event)"></app-game-selector>
        <div class="nb-perso">
          <span >{{characterList.length}} personnages </span>
        </div>
      </div>

      <div class="character-list" >
        <div class="div-character" *ngFor="let char of characterList" title="{{ char.cd_char }}">
          <div id="name"><span>{{ char.name }}</span></div>
          <img
            src="{{char | imgChar }}"
            alt="{{ char.name }}"
          />
        </div>
      </div>
    </div>
  </div>
</div>
