<div class="game-selector">
  <select name="game" #gameSelect [(ngModel)]="selectedGame" (change)="onChangeGame()">
    <option *ngFor="let game of gameList " [ngValue]="game">{{game.name}}</option>
  </select>
</div>
