.game-selector {
  border: solid blue 0px; /* for debug*/
}

.game-selector > select {
  background-color: rgba(27, 16, 19, 0.75);
  border: 1px solid #ffffff;
  color: white;
  box-sizing: border-box;
  border-radius: 3.5rem;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: 0.06em;
  padding: 0.5rem 1.0rem 0.5rem 1rem;
}
