.page-content {
  background-image: url(./../../../../assets/images/backgrounds/BGEffectselement.png);
}

.bio-table {
    border: solid white 0px;
    display: table;
    border-spacing: 2em;
    width: 100%;
}

.bio-row {
    border: solid red 0px;
    display: table-row;
}

.bio-cell-picture {
    border: solid greenyellow 0px;
    background-color: rgb(75, 73, 73);
    display: table-cell;
    border-radius: 1.875rem;
    width: min-content;
}

.bio-cell-details {
    border: solid violet 0px;
    display: table-cell;
    vertical-align:top;
    width: 100%;
}

.details-table {
    display: table;
}

.detail-row {
    display: table-row;
}

.cell-key {
    display: table-cell;
    width: 50%;

}

.cell-value {
    display: table-cell;
    width: 50%;
    white-space: nowrap;
}

.fonts-properties {
    font-size: 5rem;
    font-weight: 31.25rem;
}

.fonts-details {
    font-size: 2rem;
}

/*****************************************************************************/
.table {
  display : flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.row {
  display : flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.cell {
  display : block;
}

/*****************************************************************************/
/* Groupe liste Jeux / Persos du joueur */

.game-character {
  border-spacing : 0px;
}
.game-character .row {
  background-color: rgba(00, 00, 00, 0);
  width:100%;
  height: 5rem;
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 2.5rem;
  background-image: linear-gradient(to right ,rgba(80,20,20,0.5) ,rgba(80,20,20,0.5) 50% ,rgba(80,20,20,0.0) 95%, rgba(80,20,20,0.0)  );
}


.game-character .game {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  white-space: nowrap;
}

.game-character .character {
  width: max-content;
  display : flex;
  flex-direction: row-reverse;

}

.game-character .character img {
  height: 5rem;
}



/*****************************************************************************/
/* liste des tournois du joueurs */

/* game selector and date selector layer for relative positioning*/
.game-date-selectors {
  border: solid green 0px; /* for debug*/
  display: flex;
  padding: 1em 4em 1em 4em;
  width: auto;
  justify-content: space-between;
  align-items: center;
}

/*****************************************************************************/
/* resultat des participations au tournois du joueur */
.tournament-ranking {
  display:table;
  width: 100%;
  letter-spacing: 0.08em;
}

.tournament-row {
  display: table-row;
  height: 2rem;
  background: rgba(27, 16, 19, 0.75);
  white-space: nowrap;
}

.tournament-row:hover {
  background-color: rgba(65, 45, 51, 0.75);
}

.tournament-row:first-child {
  background-color: rgb(167, 0, 0);
  font-size: 120%;
  font-weight: 800;
}

.tournament-cell {
  display:table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 0.5 rem;
  padding-bottom: 0.5 rem;
  padding-left:1rem;
  padding-right:1rem;
}

