<div class="page-background">
  <div class="page-container">
    <div class="page-title">
      <h1>Biographie</h1>
    </div>
    <div class="page-content">

      <div class="bio-table fonts">
        <div class="bio-row">
          <div class="bio-cell-picture">
            <img src="{{ 'players/avatars/template.png' | img }}" alt="Joueur" />
          </div>
          <div class="bio-cell-details">
            <div class="details-nickname fonts-properties">
              {{ player.pseudo }}
            </div>
            <div class="details-table fonts-properties fonts-details">
              <div class="detail-row">
                <div class="cell-key">Nom:</div>
                <div class="cell-value">
                  {{ player.firstname }} {{ player.name }}
                </div>
              </div>
              <div class="detail-row">
                <div class="cell-key">Pays:</div>
                <div class="cell-value">
                  <img
                    src="{{ 'flags/' + player.cd_country + '.png' | img }}"
                    alt=""
                  />
                  {{ player.country }}
                </div>
              </div>
            </div>
            <div class="table game-character">
              <div class="row" *ngFor="let pgw of playerGameWrapperList">
                <div class="cell game">{{ pgw.game }}</div>
                <div class="cell character" title="{{ pgw.char_name }}">
                  <img
                    src="{{ pgw | imgChar }}"
                    alt="{{ pgw.char_name }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tournament-ranking-container">
        <div class="page-title">
          <h1>Palmarès</h1>
        </div>
        <div class="game-date-selectors">
          <div>&nbsp;</div>
          <app-game-selector
            unselectedName="<Tous>"
            [isSessionLinked]="false"
            (selectedGame)="(selectedGame)"
            (onChangeEvent)="onChangeGame($event)"
          ></app-game-selector>
          <div class="score fonts">{{score_total}}</div>
          <app-season-selector
            (selectedSeason)="(selectedSeason)"
            (onChangeEvent)="onChangeSeason($event)"
          ></app-season-selector>
          <div>&nbsp;</div>
        </div>
        <div class="tournament-ranking">
          <div class="tournament-row" >
            <div class="tournament-cell" id="game">Jeu</div>
            <div class="tournament-cell" id="tournament-group">Groupe</div>
            <div class="tournament-cell" id="tournament-name">Tournois</div>
            <div class="tournament-cell" id="date">Date</div>
            <div class="tournament-cell" id="ranking">Classement</div>
            <div class="tournament-cell" id="score">Points</div>
          </div>
          <div class="tournament-row" *ngFor="let prl of playerRankingList">
            <div class="tournament-cell" id="game">{{prl.game_name}}</div>
            <div class="tournament-cell" id="tournament-group">{{prl.tournament_group_name}}</div>
            <div class="tournament-cell clickable" id="tournament-name" (click)="onClickTournament(prl)">{{prl.tournament_name}}</div>
            <div class="tournament-cell" id="date">{{prl.date_start}}</div>
            <div class="tournament-cell" id="ranking">{{prl.ranking}}</div>
            <div class="tournament-cell" id="score">{{prl.score}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
