<!-- div principal contenant toute la page-->
<div class="page-background">
  <div class="page-container">
    <div class="page-title">
      <h1>Joueurs</h1>
    </div>
    <div class="page-content">
      <div class="content-header">
        <app-game-selector unselectedName="<Tous>" (selectedGame)="selectedGame" (onChangeEvent)="onChangeGame($event)"></app-game-selector>
        <div class="searchBox">
          <input type="search" class="search" placeholder="recherche" [(ngModel)]="filter" (ngModelChange)="onChangeFilter"/>
        </div>
      </div>
      <!-- TODO : pagination ? -->
      <!--
        <div class="player-paging">
          <select name="player-list">
            <option>01-25 of 100</option>
            <option>25-50 of 100</option>
            <option>50-75 of 100</option>
            <option>75-100 of 100</option>
          </select>
        </div>
      -->
      <div class="player-table">
        <div class="player-row">
          <div class="player-nationality">Pays</div>
          <div class="player-nickname">Player ID</div>
          <div class="player-first-name">First Name</div>
          <div class="player-last-name">Last Name</div>
        </div>
        <div class="player-row clickable" *ngFor="let player of filteredPlayerList" (click)="onClickJoueur(player)">
          <div class="player-nationality"><img src="{{'flags/' + player.cd_country + '.png' | img}}"></div>
          <div class="player-nickname">{{player.pseudo}}</div>
          <div class="player-first-name">{{player.firstname}}</div>
          <div class="player-last-name">{{player.name}}</div>
        </div>
        <!--

          <div class="paging">
            List     100 » 200 » 300 » 400 » 500
          </div>
        -->
      </div>
    </div>
  </div>
</div>
