.page-background {
  border: solid red 0px;
  background-image: url(./../../../../assets/images/backgrounds/bgryu2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
}

.content-header {
  justify-content: flex-start;
}

.searchBox {
  border: solid white 0px;
  margin-left: 2em;
  margin-right: 2em;
}
.search {
  background-color: rgba(27, 16, 19, 0.75);
  border: 1px solid #ffffff;
  color: white;
  box-sizing: border-box;
  border-radius: 3.5rem;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.9rem;
  letter-spacing: 0.06em;
  padding: 0.5rem 1.0rem 0.5rem 1rem;
  text-align: center;
  width:15em;
}



.player-paging {
  border: solid yellow 0px;
  margin: 0 4em 1em;
}

.player-paging > select {
  background: rgba(27, 16, 19, 0.75);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 55px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}


.player-table {
  border: solid white 0px;
  width: 100%;
  letter-spacing: 0.06em;
}

@media (min-width:750px) {
  .player-table {
    width: 60%;
  }
}

.player-row {
  border: solid yellow 0px;
  background: rgba(27, 16, 19, 0.75);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: .5rem;
  white-space: nowrap;
}

.player-row:hover {
  background-color: rgba(65, 45, 51, 0.75);
}

.player-row:first-child {
  background-color: rgb(167, 0, 0);
  font-size: 120%;
  font-weight: 800;
}
.player-nationality {
  width: 10%;
}
.player-nationality > img {
  width: 2.625rem;
  height: 1.75rem;
}
.player-nickname{
  width: 100%;
}
.player-first-name {
  width:100%;
}

.player-last-name {
  text-transform: uppercase;
  width: 100%;
}

.paging {
  width: auto;
  text-align: right;
  padding: 2em;
}
