<div calss="page-backgroud">
  <div class="page-container">
    <div class="page-title">
      <h1>Tournois</h1>
    </div>
    <div class="page-content">
      <div class="content-header">
          <app-game-selector
            (selectedGame)="(selectedGame)"
            (onChangeEvent)="onChangeGame($event)"
          ></app-game-selector>
          <app-season-selector
            (selectedSeason)="(selectedSeason)"
            (onChangeEvent)="onChangeSeason($event)"
          ></app-season-selector>
      </div>
      <div class="tournament-container">
        <div class="tournament-row" *ngFor="let tournament of tournamentList">
          <div class="cell-logo">
            <img
              src="{{ 'tournaments/logo01.png' | img }}"
              alt="Logo Tournois"
            />
          </div>
          <div class="fonts cell-details">
            <div class="tournament-info categorie">
              {{ tournament.group_name }}
            </div>
            <div class="tournament-info tournament-name">
              {{ tournament.name }}
            </div>
            <div class="tournament-info tournament-date">
              {{ tournament.date_start }}
            </div>
          </div>
          <div class="cell-video">
            <div class="video">
              <iframe
                width="420"
                height="250"
                src="https://www.youtube.com/embed/Sss47yjgsi4"
                title="TESA"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <!-- bouton classement -->
            <div class="ranking-btn panel-btn">
              <app-button-tesa label="Classement" [caller]="this" [callback]="onClickClassement" [data]="tournament" ></app-button-tesa>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
