
.tournament-container {
  border: solid red 0px;
  display: table;
  flex-direction: column;
  width: 100%;
}

.tournament-row {
  border: solid gold 0px;
  display: table-row;
  width: auto;
}

.cell-logo {
  border: solid blue 0px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cell-details {
  border: solid indigo 0px;
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;
  font-weight: 900;
}

.cell-video {
  border: solid turquoise 0px;
  padding: 1em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.tournament-info {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.categorie {
  border: solid yellow 0px;
  color: rgb(173, 173, 173);
  font-size: 75%;
}
.tournament-name {
  border: solid white 0px;
}

.tournament-date {
  border: solid red 0px;
  color: red;
  font-size: 50%;
}

.ranking-btn {
  padding-top:0.5em;
}
