:root {
  --clr-background: #1B1013C0;
  --clr-menu: #a0a0a0;
  --clr-menu-height:7rem;
  --clr-fonts: #FFFFFF;
  --clr-fonts-btn: #000000;
  --clr-events: #D61518;
  --clr-home-ranking: #F18C2F;
  --clr-margin: 32px;
  --clr-debug-border: solid yellow 0px;
  --clr-debug-border2: solid #5ff6f6fa 0px;
  --clr-debug-border3: solid #2cff02 0px;
  --clr-min-width:750px;
}



/************************ body *******************************/
body {
  background-image: url(./assets/images/backgrounds/ryu-bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  text-shadow:4px 4px 3px black;
}

/************************ body *******************************/
main {
  display:block;
  padding-top:var(--clr-menu-height);
}

/*************************** section **************************/
.section {
  display: flex;
  background:var(--clr-background); /* section default background*/
}



/*************************** icone **************************/



/*************************** button **************************/

/** panel alignant les boutons à droite **/

.panel-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/********************* global hyperlinks *************************/
a {
  text-decoration: none;
}


.clickable:hover {
	cursor: pointer;
	text-shadow: 0px 0px 4px rgb(198, 199, 155);
}

/********************** Global h1 tag *************************/
h1 {
  color: var(--clr-fonts);
  font-family: Oswald;
  font-style: normal;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
}

.fonts {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.06em;
  color: white;
}


.block {
  display:block;
}

/*********************************************************/
/** style generique d'une page **/
/*********************************************************/

/* Layer to handle the background image classementbg.jpg*/
.page-background {
  background-image: url(./assets/images/backgrounds/BGEffectselement.png);
  background-repeat: repeat;
  background-attachment: unset;
  background-position: top left;
}

/** page layer **/
.page-container {
  border: solid red 0px; /* for debug*/
  background-color: rgba(27, 16, 19, 0.7); /* applying alpha layer on background image */
  color: white;
  font-family: oswald;
  padding-left: 1rem;
  padding-right:1rem;
  /*padding-bottom: 2rem;*/
}


.page-title {
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.page-content {
  border: solid blue 0px; /* for debug*/
  padding-bottom:1rem;
}


.content-header {
  border: solid green 0px; /* for debug*/
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.content-header > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 750px) {
  .page-container {
    padding-left: 4rem;
    padding-right:4rem;
  }

  .page-title {
    justify-content: flex-start;
  }

  .content-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }

  .panel-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .btn-container {
    width: min-content;
  }

}
