.main-container {
  border: solid white 0px;
  background-color: var(--clr-background);
  padding-left: 4rem;
  padding-right: 4rem;

}

/*** ligne contenant détails tournois ***/
/*
.table-container {
    border: yellowgreen solid 0px;
    display: flex;
    justify-content: center;
}
.tournament-details {
    border: solid gold 0px;
    display: table-row;
    table-layout: fixed;
    text-align: right;
    color: #f18c2f;
    font-size: 1.2rem;
}
.tournament-group {
    border: solid turquoise 0px;
    display: table-cell;
    padding: 1em;
}
.tournament-name {
    border: solid turquoise 0px;
    display: table-cell;
}
.tournament-type {
    border: solid turquoise 0px;
    display: table-cell;
    padding: 1em;
}
.tournament-start {
    border: solid turquoise 0px;
    display: table-cell;
}
.tournament-end {
    border: solid turquoise 0px;
    display: table-cell;
    padding: 1em;
}

*/


.tournament-container {
  border: solid red 0px;
  display: table;
  width: 100%;
  margin-left:4rem;

}

.tournament-row {
  border: solid gold 0px;
  display: table-row;
  /*justify-content: center;
  align-items: center;*/
}

.cell-logo {
  border: solid blue 0px;
  display: table-cell;
  vertical-align: middle;
}

.cell-details {
  border: solid indigo 0px;
  font-size: 2rem;
  display: table-cell;
  vertical-align: middle;

}

.cell-video {
  border: solid turquoise 0px;
  padding: 1em;
  display: table-cell;
  vertical-align: middle;
}

.categorie {
  border: solid yellow 0px;
}
.tournament-name {
  border: solid white 0px;
  margin: .125rem 0 .5rem 0;
}

.tournament-date {
  border: solid red 0px;
  color: red;
  font-size: 1rem;
}

/*** Bloc Classement ***/
.ranking {
  margin-left: 4rem;
  margin-right: 4rem;
}
