<div class="main-container">
  <!--
  <div class="table-container">
    <div class="tournament-details fonts">
      <div class="tournament-group">Dojo #15</div>
      <div class="tournament-name">Horyugen Vs Shoryuken</div>
      <div class="tournament-type">Régional</div>
      <div class="tournament-start">25-08-2019</div>
      <div class="tournament-end">25-08-2019</div>
    </div>
  </div>
  -->

  <div class="tournament-container">
    <div class="tournament-row">
      <div class="cell-logo">
        <img
          src="{{'tournaments/logo01.png' | img}}"
          alt="Logo Tournois"
        />
      </div>
      <div class="fonts cell-details">
        <div class="categorie">{{ tournament.group_name }}</div>
        <div class="tournament-name">{{ tournament.name }}</div>
        <div class="tournament-date">{{ (tournament.date_start == tournament.date_end)? tournament.date_start : tournament.date_start+"&nbsp;&nbsp;-&nbsp;&nbsp;"+tournament.date_end }}</div>
      </div>
      <div class="cell-video">
        <div class="video">
          <iframe
            width="420"
            height="247"
            src="https://www.youtube.com/embed/Sss47yjgsi4"
            title="TESA"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="ranking">
    <app-classement [selectedTournament]="tournament"></app-classement>
  </div>
</div>
