  <div class="season-selector" >
    <select name="date" #seasonSelect [(ngModel)]="selectedSeason" (change)="onChangeSeason()">
      <option *ngFor="let season of seasonList" [ngValue]="season">{{season.name}} > {{season.date_start}} ==> {{season.date_end}}</option>
    </select>
  </div>
